body{
    background: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 80%;
    background: #ffffff;
    color: blue;
    margin: 0 auto;
    padding: 5px;
    margin-top: 40px;
    border-radius: 5px;
}
h1{
    padding-bottom: 3px;
    margin-bottom: 2px;
    /* border: 1px solid yellow; */
}